page {
  --primary: #007bff;
  --secondary: #b3daff;
  --link: #004080;
  --background: #f5f5f5;
  --dividers: #f0f0f0;
  --border: #d9d9d9;
  --disabled: #bfbfbf;
  --mask: rgba(0, 0, 0, 0.45);
  --subtitle: #656565;
  --title: #262626;
  --success: #52C41A;
  --warning: #FAAD14;
  --danger: #FF4D4F;
}

view {
  box-sizing: border-box;
  padding: 0;
}

view::before,
view::after {
  box-sizing: border-box;
}

text {
  line-height: 1.5;
}

image {
  margin: 0 auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.bottom-placeholder {
  --fixed-height: 120rpx;
  height: var(--fixed-height);
}

.bottom-placeholder>div {
  height: var(--fixed-height);
  position: fixed;
  inset: 0;
  top: auto;
}

.safearea {
  padding-bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.ovh,
.overflow-hiden {
  overflow: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}

.img-gray {
  filter: grayscale(100%);
}

.wy-fixed {
  position: fixed;
}

.wy-rela {
  position: relative;
}

.wy-abso {
  position: absolute;
}

.wy-pos-center,
.wy-pos-c {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.wy-pos-horizontal,
.wy-pos-h {
  left: 50%;
  transform: translateX(-50%);
}

.wy-pos-vertical,
.wy-pos-v {
  top: 50%;
  transform: translateY(-50%);
}

.wy-none {
  display: none;
}

.wy-i-block {
  display: inline-block;
}

.wy-block {
  display: block;
}

.wy-i-grid {
  display: inline-grid;
}

.wy-grid {
  display: grid;
}

.wy-grid-column {
  grid-auto-flow: column;
}

.wy-grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.wy-grid-row-start-1 {
  grid-row-start: 1;
}

.wy-grid-row-end-1 {
  grid-row-end: 1;
}

.wy-grid-column-start-1 {
  grid-column-start: 1;
}

.wy-grid-column-end-1 {
  grid-column-end: 1;
}

.wy-grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.wy-grid-row-start-2 {
  grid-row-start: 2;
}

.wy-grid-row-end-2 {
  grid-row-end: 2;
}

.wy-grid-column-start-2 {
  grid-column-start: 2;
}

.wy-grid-column-end-2 {
  grid-column-end: 2;
}

.wy-grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.wy-grid-row-start-3 {
  grid-row-start: 3;
}

.wy-grid-row-end-3 {
  grid-row-end: 3;
}

.wy-grid-column-start-3 {
  grid-column-start: 3;
}

.wy-grid-column-end-3 {
  grid-column-end: 3;
}

.wy-grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.wy-grid-row-start-4 {
  grid-row-start: 4;
}

.wy-grid-row-end-4 {
  grid-row-end: 4;
}

.wy-grid-column-start-4 {
  grid-column-start: 4;
}

.wy-grid-column-end-4 {
  grid-column-end: 4;
}

.wy-grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.wy-grid-row-start-5 {
  grid-row-start: 5;
}

.wy-grid-row-end-5 {
  grid-row-end: 5;
}

.wy-grid-column-start-5 {
  grid-column-start: 5;
}

.wy-grid-column-end-5 {
  grid-column-end: 5;
}

.wy-grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.wy-grid-row-start-6 {
  grid-row-start: 6;
}

.wy-grid-row-end-6 {
  grid-row-end: 6;
}

.wy-grid-column-start-6 {
  grid-column-start: 6;
}

.wy-grid-column-end-6 {
  grid-column-end: 6;
}

.wy-i-flex {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.wy-flex {
  display: flex;
  flex-direction: row;
}

.wy-flex-wrap {
  flex-wrap: wrap;
}

.wy-flex-nowrap {
  flex-wrap: nowrap;
}

.wy-flex-grow-0 {
  flex-grow: 0;
}

.wy-flex-grow-1 {
  flex-grow: 1;
}

.wy-flex-shrink-0 {
  flex-shrink: 0;
}

.wy-flex-shrink-1 {
  flex-shrink: 1;
}

.wy-flex-col {
  display: flex;
  flex-direction: column;
}

.wy-flex-none {
  flex: none;
}

.wy-flex-auto {
  flex: auto;
}

.wy-flex-1 {
  flex: 1;
}

.wy-col-center {
  align-items: center;
}

.wy-col-top {
  align-items: flex-start;
}

.wy-col-bottom {
  align-items: flex-end;
}

.wy-col-baseline {
  align-items: baseline;
}

.wy-col-stretch {
  align-items: stretch;
}

.wy-row-center {
  justify-content: center;
}

.wy-row-left {
  justify-content: flex-start;
}

.wy-row-right {
  justify-content: flex-end;
}

.wy-row-between {
  justify-content: space-between;
}

.wy-row-around {
  justify-content: space-around;
}

.wy-align-self-baseline {
  align-self: baseline;
}

.wy-justify-self-baseline {
  justify-self: baseline;
}

.wy-align-self-stretch {
  align-self: stretch;
}

.wy-justify-self-stretch {
  justify-self: stretch;
}

.wy-align-self-start {
  align-self: start;
}

.wy-justify-self-start {
  justify-self: start;
}

.wy-align-self-end {
  align-self: end;
}

.wy-justify-self-end {
  justify-self: end;
}

.wy-align-self-flex-start {
  align-self: flex-start;
}

.wy-justify-self-flex-start {
  justify-self: flex-start;
}

.wy-align-self-flex-end {
  align-self: flex-end;
}

.wy-justify-self-flex-end {
  justify-self: flex-end;
}

.wy-align-self-center {
  align-self: center;
}

.wy-justify-self-center {
  justify-self: center;
}

.wy-align-self-unset {
  align-self: unset;
}

.wy-justify-self-unset {
  justify-self: unset;
}

.bg-clip {
  background-clip: padding-box;
}

.bg-trans {
  background: transparent;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-link {
  background-color: var(--link);
}

.bg-success {
  background-color: var(--success);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-default {
  background-color: #f7f7f7;
}

.bg-mask {
  background-color: var(--mask);
}

.bg-dividers {
  background-color: var(--dividers);
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-333 {
  background-color: #333;
}

.bg-666 {
  background-color: #666;
}

.bg-999 {
  background-color: #999;
}

.bg-eee {
  background-color: #eee;
}

.bg-ddd {
  background-color: #ddd;
}

.bg-f0 {
  background-color: #f0f0f0;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.bg-f7 {
  background-color: #f7f7f7;
}

.bg-black-20 {
  background-color: rgba(0, 0, 0, .2);
}

.bg-black-40 {
  background-color: rgba(0, 0, 0, .4);
}

.bg-black-60 {
  background-color: rgba(0, 0, 0, .6);
}

.bg-black-80 {
  background-color: rgba(0, 0, 0, .8);
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, .2);
}

.bg-white-40 {
  background-color: rgba(255, 255, 255, .4);
}

.bg-white-60 {
  background-color: rgba(255, 255, 255, .6);
}

.bg-white-80 {
  background-color: rgba(255, 255, 255, .8);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-link {
  color: var(--link);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

.text-danger {
  color: var(--danger);
}

.text-default {
  color: #f7f7f7;
}

.text-mask {
  color: var(--mask);
}

.text-dividers {
  color: var(--dividers);
}

.text-light {
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-333 {
  color: #333;
}

.text-666 {
  color: #666;
}

.text-999 {
  color: #999;
}

.text-eee {
  color: #eee;
}

.text-ddd {
  color: #ddd;
}

.text-f0 {
  color: #f0f0f0;
}

.text-f5 {
  color: #f5f5f5;
}

.text-f7 {
  color: #f7f7f7;
}

.text-black-20 {
  color: rgba(0, 0, 0, .2);
}

.text-black-40 {
  color: rgba(0, 0, 0, .4);
}

.text-black-60 {
  color: rgba(0, 0, 0, .6);
}

.text-black-80 {
  color: rgba(0, 0, 0, .8);
}

.text-white-20 {
  color: rgba(255, 255, 255, .2);
}

.text-white-40 {
  color: rgba(255, 255, 255, .4);
}

.text-white-60 {
  color: rgba(255, 255, 255, .6);
}

.text-white-80 {
  color: rgba(255, 255, 255, .8);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.text-overline {
  text-decoration: overline;
}

.text-through {
  text-decoration: line-through;
}

.text-decoration-none {
  text-decoration: none;
}

.text-hide {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-word {
  word-break: break-word;
}

.text-all {
  word-break: break-all;
}

.text-ov1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ov2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-ov3 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.text-mid::after {
  content: "";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.border-0 {
  border: none;
  border-width: 0;
}

.border-sm {
  border-width: 1rpx;
}

.border-1,
.border {
  border-width: 1px;
}

.border-2 {
  border-width: 4rpx;
}

.border-3 {
  border-width: 6rpx;
}

.border-lg {
  border-width: 12rpx;
}

.border-primary {
  border-color: var(--primary);
}

.border-secondary {
  border-color: var(--secondary);
}

.border-link {
  border-color: var(--link);
}

.border-success {
  border-color: var(--success);
}

.border-warning {
  border-color: var(--warning);
}

.border-danger {
  border-color: var(--danger);
}

.border-default {
  border-color: #f7f7f7;
}

.border-mask {
  border-color: var(--mask);
}

.border-dividers {
  border-color: var(--dividers);
}

.border-light {
  border-color: #f8f9fa;
}

.border-dark {
  border-color: #343a40;
}

.border-white {
  border-color: #fff;
}

.border-black {
  border-color: #000;
}

.border-333 {
  border-color: #333;
}

.border-666 {
  border-color: #666;
}

.border-999 {
  border-color: #999;
}

.border-eee {
  border-color: #eee;
}

.border-ddd {
  border-color: #ddd;
}

.border-f0 {
  border-color: #f0f0f0;
}

.border-f5 {
  border-color: #f5f5f5;
}

.border-f7 {
  border-color: #f7f7f7;
}

.border-black-20 {
  border-color: rgba(0, 0, 0, .2);
}

.border-black-40 {
  border-color: rgba(0, 0, 0, .4);
}

.border-black-60 {
  border-color: rgba(0, 0, 0, .6);
}

.border-black-80 {
  border-color: rgba(0, 0, 0, .8);
}

.border-white-20 {
  border-color: rgba(255, 255, 255, .2);
}

.border-white-40 {
  border-color: rgba(255, 255, 255, .4);
}

.border-white-60 {
  border-color: rgba(255, 255, 255, .6);
}

.border-white-80 {
  border-color: rgba(255, 255, 255, .8);
}

[class*=border] {
  border-style: solid;
}

[class*=border-top] {
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

[class*=border-right] {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

[class*=border-bottom] {
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
}

[class*=border-left] {
  border-bottom-width: 0;
  border-top-width: 0;
  border-right-width: 0;
}

.rounded-sm {
  border-radius: 8rpx;
}

.rounded {
  border-radius: 12rpx;
}

.rounded-lg {
  border-radius: 16rpx;
}

.rounded-xl {
  border-radius: 32rpx;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-pill {
  border-radius: 800px;
}

.rounded-0 {
  border-radius: 0;
}

[class^=rounded] {
  overflow: hidden;
}

.shadow-0,
.shadow-none {
  box-shadow: none;
}

.shadow-sm {
  box-shadow: 0 4rpx 8rpx rgba(0, 0, 0, .075);
}

.shadow {
  box-shadow: 0 16rpx 32rpx rgba(0, 0, 0, .15);
}

.shadow-lg {
  box-shadow: 0 32rpx 96rpx rgba(0, 0, 0, .175);
}

.wy-w-auto {
  width: auto;
}

.wy-h-auto {
  height: auto;
}

.wy-w-5 {
  width: 5%;
}

.wy-h-5 {
  height: 5%;
}

.wy-w-10 {
  width: 10%;
}

.wy-h-10 {
  height: 10%;
}

.wy-w-15 {
  width: 15%;
}

.wy-h-15 {
  height: 15%;
}

.wy-w-20 {
  width: 20%;
}

.wy-h-20 {
  height: 20%;
}

.wy-w-25 {
  width: 25%;
}

.wy-h-25 {
  height: 25%;
}

.wy-w-30 {
  width: 30%;
}

.wy-h-30 {
  height: 30%;
}

.wy-w-35 {
  width: 35%;
}

.wy-h-35 {
  height: 35%;
}

.wy-w-40 {
  width: 40%;
}

.wy-h-40 {
  height: 40%;
}

.wy-w-45 {
  width: 45%;
}

.wy-h-45 {
  height: 45%;
}

.wy-w-50 {
  width: 50%;
}

.wy-h-50 {
  height: 50%;
}

.wy-w-55 {
  width: 55%;
}

.wy-h-55 {
  height: 55%;
}

.wy-w-60 {
  width: 60%;
}

.wy-h-60 {
  height: 60%;
}

.wy-w-65 {
  width: 65%;
}

.wy-h-65 {
  height: 65%;
}

.wy-w-70 {
  width: 70%;
}

.wy-h-70 {
  height: 70%;
}

.wy-w-75 {
  width: 75%;
}

.wy-h-75 {
  height: 75%;
}

.wy-w-80 {
  width: 80%;
}

.wy-h-80 {
  height: 80%;
}

.wy-w-85 {
  width: 85%;
}

.wy-h-85 {
  height: 85%;
}

.wy-w-90 {
  width: 90%;
}

.wy-h-90 {
  height: 90%;
}

.wy-w-95 {
  width: 95%;
}

.wy-h-95 {
  height: 95%;
}

.wy-w-100 {
  width: 100%;
}

.wy-h-100 {
  height: 100%;
}

.wy-w-min-10 {
  width: 10vmin;
}

.wy-h-min-10 {
  height: 10vmin;
}

.wy-w-max-10 {
  width: 10vmax;
}

.wy-h-max-10 {
  height: 10vmax;
}

.wy-w-min-20 {
  width: 20vmin;
}

.wy-h-min-20 {
  height: 20vmin;
}

.wy-w-max-20 {
  width: 20vmax;
}

.wy-h-max-20 {
  height: 20vmax;
}

.wy-w-min-30 {
  width: 30vmin;
}

.wy-h-min-30 {
  height: 30vmin;
}

.wy-w-max-30 {
  width: 30vmax;
}

.wy-h-max-30 {
  height: 30vmax;
}

.wy-w-min-40 {
  width: 40vmin;
}

.wy-h-min-40 {
  height: 40vmin;
}

.wy-w-max-40 {
  width: 40vmax;
}

.wy-h-max-40 {
  height: 40vmax;
}

.wy-w-min-50 {
  width: 50vmin;
}

.wy-h-min-50 {
  height: 50vmin;
}

.wy-w-max-50 {
  width: 50vmax;
}

.wy-h-max-50 {
  height: 50vmax;
}

.wy-w-min-60 {
  width: 60vmin;
}

.wy-h-min-60 {
  height: 60vmin;
}

.wy-w-max-60 {
  width: 60vmax;
}

.wy-h-max-60 {
  height: 60vmax;
}

.wy-w-min-70 {
  width: 70vmin;
}

.wy-h-min-70 {
  height: 70vmin;
}

.wy-w-max-70 {
  width: 70vmax;
}

.wy-h-max-70 {
  height: 70vmax;
}

.wy-w-min-80 {
  width: 80vmin;
}

.wy-h-min-80 {
  height: 80vmin;
}

.wy-w-max-80 {
  width: 80vmax;
}

.wy-h-max-80 {
  height: 80vmax;
}

.wy-w-min-90 {
  width: 90vmin;
}

.wy-h-min-90 {
  height: 90vmin;
}

.wy-w-max-90 {
  width: 90vmax;
}

.wy-h-max-90 {
  height: 90vmax;
}

.wy-w-min-100 {
  width: 100vmin;
}

.wy-h-min-100 {
  height: 100vmin;
}

.wy-w-max-100 {
  width: 100vmax;
}

.wy-h-max-100 {
  height: 100vmax;
}

.wy-vw-10 {
  width: 10vw;
}

.wy-vh-10 {
  height: 10vh;
}

.wy-vw-20 {
  width: 20vw;
}

.wy-vh-20 {
  height: 20vh;
}

.wy-vw-30 {
  width: 30vw;
}

.wy-vh-30 {
  height: 30vh;
}

.wy-vw-40 {
  width: 40vw;
}

.wy-vh-40 {
  height: 40vh;
}

.wy-vw-50 {
  width: 50vw;
}

.wy-vh-50 {
  height: 50vh;
}

.wy-vw-60 {
  width: 60vw;
}

.wy-vh-60 {
  height: 60vh;
}

.wy-vw-70 {
  width: 70vw;
}

.wy-vh-70 {
  height: 70vh;
}

.wy-vw-80 {
  width: 80vw;
}

.wy-vh-80 {
  height: 80vh;
}

.wy-vw-90 {
  width: 90vw;
}

.wy-vh-90 {
  height: 90vh;
}

.wy-vw-100 {
  width: 100vw;
}

.wy-vh-100 {
  height: 100vh;
}

.wy-font-0 {
  font-size: 0;
}

.wy-font-10 {
  font-size: 20rpx;
}

.wy-font-11 {
  font-size: 22rpx;
}

.wy-font-12 {
  font-size: 24rpx;
}

.wy-font-13 {
  font-size: 26rpx;
}

.wy-font-14 {
  font-size: 28rpx;
}

.wy-font-15 {
  font-size: 30rpx;
}

.wy-font-16 {
  font-size: 32rpx;
}

.wy-font-17 {
  font-size: 34rpx;
}

.wy-font-18 {
  font-size: 36rpx;
}

.wy-font-19 {
  font-size: 38rpx;
}

.wy-font-20 {
  font-size: 40rpx;
}

.wy-font-21 {
  font-size: 42rpx;
}

.wy-font-22 {
  font-size: 44rpx;
}

.wy-font-23 {
  font-size: 46rpx;
}

.wy-font-24 {
  font-size: 48rpx;
}

.wy-font-25 {
  font-size: 50rpx;
}

.wy-font-26 {
  font-size: 52rpx;
}

.wy-font-27 {
  font-size: 54rpx;
}

.wy-font-28 {
  font-size: 56rpx;
}

.wy-font-29 {
  font-size: 58rpx;
}

.wy-font-30 {
  font-size: 60rpx;
}

.wy-font-31 {
  font-size: 62rpx;
}

.wy-font-32 {
  font-size: 64rpx;
}

.wy-font-33 {
  font-size: 66rpx;
}

.wy-font-34 {
  font-size: 68rpx;
}

.wy-font-35 {
  font-size: 70rpx;
}

.wy-font-36 {
  font-size: 72rpx;
}

.wy-font-37 {
  font-size: 74rpx;
}

.wy-font-38 {
  font-size: 76rpx;
}

.wy-font-39 {
  font-size: 78rpx;
}

.wy-font-40 {
  font-size: 80rpx;
}

.wy-font-41 {
  font-size: 82rpx;
}

.wy-font-42 {
  font-size: 84rpx;
}

.wy-font-43 {
  font-size: 86rpx;
}

.wy-font-44 {
  font-size: 88rpx;
}

.wy-font-45 {
  font-size: 90rpx;
}

.wy-font-46 {
  font-size: 92rpx;
}

.wy-font-47 {
  font-size: 94rpx;
}

.wy-font-48 {
  font-size: 96rpx;
}

.wy-font-49 {
  font-size: 98rpx;
}

.wy-font-50 {
  font-size: 100rpx;
}

.wy-font-51 {
  font-size: 102rpx;
}

.wy-font-52 {
  font-size: 104rpx;
}

.wy-font-53 {
  font-size: 106rpx;
}

.wy-font-54 {
  font-size: 108rpx;
}

.wy-font-55 {
  font-size: 110rpx;
}

.wy-font-56 {
  font-size: 112rpx;
}

.wy-font-57 {
  font-size: 114rpx;
}

.wy-font-58 {
  font-size: 116rpx;
}

.wy-font-59 {
  font-size: 118rpx;
}

.wy-font-60 {
  font-size: 120rpx;
}

.wy-font-normal {
  font-weight: normal;
}

.wy-font-bold {
  font-weight: bold;
}

.wy-font-italic {
  font-style: italic;
}

.line-height-0 {
  line-height: 0;
}

.line-height-1 {
  line-height: 1;
}

.line-height-sm {
  line-height: 1.3;
}

.line-height {
  line-height: 1.5;
}

.line-height-lg {
  line-height: 1.8;
}

.line-height-xl {
  line-height: 2;
}

.wy-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.wy-m-0,
.wy-my-0,
.wy-mt-0 {
  margin-top: 0rpx;
}

.wy-m-0,
.wy-mx-0,
.wy-mr-0 {
  margin-right: 0rpx;
}

.wy-m-0,
.wy-my-0,
.wy-mb-0 {
  margin-bottom: 0rpx;
}

.wy-m-0,
.wy-mx-0,
.wy-ml-0 {
  margin-left: 0rpx;
}

.wy-p-0,
.wy-py-0,
.wy-pt-0 {
  padding-top: 0rpx;
}

.wy-p-0,
.wy-px-0,
.wy-pr-0 {
  padding-right: 0rpx;
}

.wy-p-0,
.wy-py-0,
.wy-pb-0 {
  padding-bottom: 0rpx;
}

.wy-p-0,
.wy-px-0,
.wy-pl-0 {
  padding-left: 0rpx;
}

.wy-m-1,
.wy-my-1,
.wy-mt-1 {
  margin-top: 2rpx;
}

.wy-m-1,
.wy-mx-1,
.wy-mr-1 {
  margin-right: 2rpx;
}

.wy-m-1,
.wy-my-1,
.wy-mb-1 {
  margin-bottom: 2rpx;
}

.wy-m-1,
.wy-mx-1,
.wy-ml-1 {
  margin-left: 2rpx;
}

.wy-p-1,
.wy-py-1,
.wy-pt-1 {
  padding-top: 2rpx;
}

.wy-p-1,
.wy-px-1,
.wy-pr-1 {
  padding-right: 2rpx;
}

.wy-p-1,
.wy-py-1,
.wy-pb-1 {
  padding-bottom: 2rpx;
}

.wy-p-1,
.wy-px-1,
.wy-pl-1 {
  padding-left: 2rpx;
}

.wy-m-2,
.wy-my-2,
.wy-mt-2 {
  margin-top: 4rpx;
}

.wy-m-2,
.wy-mx-2,
.wy-mr-2 {
  margin-right: 4rpx;
}

.wy-m-2,
.wy-my-2,
.wy-mb-2 {
  margin-bottom: 4rpx;
}

.wy-m-2,
.wy-mx-2,
.wy-ml-2 {
  margin-left: 4rpx;
}

.wy-p-2,
.wy-py-2,
.wy-pt-2 {
  padding-top: 4rpx;
}

.wy-p-2,
.wy-px-2,
.wy-pr-2 {
  padding-right: 4rpx;
}

.wy-p-2,
.wy-py-2,
.wy-pb-2 {
  padding-bottom: 4rpx;
}

.wy-p-2,
.wy-px-2,
.wy-pl-2 {
  padding-left: 4rpx;
}

.wy-m-3,
.wy-my-3,
.wy-mt-3 {
  margin-top: 6rpx;
}

.wy-m-3,
.wy-mx-3,
.wy-mr-3 {
  margin-right: 6rpx;
}

.wy-m-3,
.wy-my-3,
.wy-mb-3 {
  margin-bottom: 6rpx;
}

.wy-m-3,
.wy-mx-3,
.wy-ml-3 {
  margin-left: 6rpx;
}

.wy-p-3,
.wy-py-3,
.wy-pt-3 {
  padding-top: 6rpx;
}

.wy-p-3,
.wy-px-3,
.wy-pr-3 {
  padding-right: 6rpx;
}

.wy-p-3,
.wy-py-3,
.wy-pb-3 {
  padding-bottom: 6rpx;
}

.wy-p-3,
.wy-px-3,
.wy-pl-3 {
  padding-left: 6rpx;
}

.wy-m-4,
.wy-my-4,
.wy-mt-4 {
  margin-top: 8rpx;
}

.wy-m-4,
.wy-mx-4,
.wy-mr-4 {
  margin-right: 8rpx;
}

.wy-m-4,
.wy-my-4,
.wy-mb-4 {
  margin-bottom: 8rpx;
}

.wy-m-4,
.wy-mx-4,
.wy-ml-4 {
  margin-left: 8rpx;
}

.wy-p-4,
.wy-py-4,
.wy-pt-4 {
  padding-top: 8rpx;
}

.wy-p-4,
.wy-px-4,
.wy-pr-4 {
  padding-right: 8rpx;
}

.wy-p-4,
.wy-py-4,
.wy-pb-4 {
  padding-bottom: 8rpx;
}

.wy-p-4,
.wy-px-4,
.wy-pl-4 {
  padding-left: 8rpx;
}

.wy-m-5,
.wy-my-5,
.wy-mt-5 {
  margin-top: 10rpx;
}

.wy-m-5,
.wy-mx-5,
.wy-mr-5 {
  margin-right: 10rpx;
}

.wy-m-5,
.wy-my-5,
.wy-mb-5 {
  margin-bottom: 10rpx;
}

.wy-m-5,
.wy-mx-5,
.wy-ml-5 {
  margin-left: 10rpx;
}

.wy-p-5,
.wy-py-5,
.wy-pt-5 {
  padding-top: 10rpx;
}

.wy-p-5,
.wy-px-5,
.wy-pr-5 {
  padding-right: 10rpx;
}

.wy-p-5,
.wy-py-5,
.wy-pb-5 {
  padding-bottom: 10rpx;
}

.wy-p-5,
.wy-px-5,
.wy-pl-5 {
  padding-left: 10rpx;
}

.wy-m-6,
.wy-my-6,
.wy-mt-6 {
  margin-top: 12rpx;
}

.wy-m-6,
.wy-mx-6,
.wy-mr-6 {
  margin-right: 12rpx;
}

.wy-m-6,
.wy-my-6,
.wy-mb-6 {
  margin-bottom: 12rpx;
}

.wy-m-6,
.wy-mx-6,
.wy-ml-6 {
  margin-left: 12rpx;
}

.wy-p-6,
.wy-py-6,
.wy-pt-6 {
  padding-top: 12rpx;
}

.wy-p-6,
.wy-px-6,
.wy-pr-6 {
  padding-right: 12rpx;
}

.wy-p-6,
.wy-py-6,
.wy-pb-6 {
  padding-bottom: 12rpx;
}

.wy-p-6,
.wy-px-6,
.wy-pl-6 {
  padding-left: 12rpx;
}

.wy-m-7,
.wy-my-7,
.wy-mt-7 {
  margin-top: 14rpx;
}

.wy-m-7,
.wy-mx-7,
.wy-mr-7 {
  margin-right: 14rpx;
}

.wy-m-7,
.wy-my-7,
.wy-mb-7 {
  margin-bottom: 14rpx;
}

.wy-m-7,
.wy-mx-7,
.wy-ml-7 {
  margin-left: 14rpx;
}

.wy-p-7,
.wy-py-7,
.wy-pt-7 {
  padding-top: 14rpx;
}

.wy-p-7,
.wy-px-7,
.wy-pr-7 {
  padding-right: 14rpx;
}

.wy-p-7,
.wy-py-7,
.wy-pb-7 {
  padding-bottom: 14rpx;
}

.wy-p-7,
.wy-px-7,
.wy-pl-7 {
  padding-left: 14rpx;
}

.wy-m-8,
.wy-my-8,
.wy-mt-8 {
  margin-top: 16rpx;
}

.wy-m-8,
.wy-mx-8,
.wy-mr-8 {
  margin-right: 16rpx;
}

.wy-m-8,
.wy-my-8,
.wy-mb-8 {
  margin-bottom: 16rpx;
}

.wy-m-8,
.wy-mx-8,
.wy-ml-8 {
  margin-left: 16rpx;
}

.wy-p-8,
.wy-py-8,
.wy-pt-8 {
  padding-top: 16rpx;
}

.wy-p-8,
.wy-px-8,
.wy-pr-8 {
  padding-right: 16rpx;
}

.wy-p-8,
.wy-py-8,
.wy-pb-8 {
  padding-bottom: 16rpx;
}

.wy-p-8,
.wy-px-8,
.wy-pl-8 {
  padding-left: 16rpx;
}

.wy-m-9,
.wy-my-9,
.wy-mt-9 {
  margin-top: 18rpx;
}

.wy-m-9,
.wy-mx-9,
.wy-mr-9 {
  margin-right: 18rpx;
}

.wy-m-9,
.wy-my-9,
.wy-mb-9 {
  margin-bottom: 18rpx;
}

.wy-m-9,
.wy-mx-9,
.wy-ml-9 {
  margin-left: 18rpx;
}

.wy-p-9,
.wy-py-9,
.wy-pt-9 {
  padding-top: 18rpx;
}

.wy-p-9,
.wy-px-9,
.wy-pr-9 {
  padding-right: 18rpx;
}

.wy-p-9,
.wy-py-9,
.wy-pb-9 {
  padding-bottom: 18rpx;
}

.wy-p-9,
.wy-px-9,
.wy-pl-9 {
  padding-left: 18rpx;
}

.wy-m-10,
.wy-my-10,
.wy-mt-10 {
  margin-top: 20rpx;
}

.wy-m-10,
.wy-mx-10,
.wy-mr-10 {
  margin-right: 20rpx;
}

.wy-m-10,
.wy-my-10,
.wy-mb-10 {
  margin-bottom: 20rpx;
}

.wy-m-10,
.wy-mx-10,
.wy-ml-10 {
  margin-left: 20rpx;
}

.wy-p-10,
.wy-py-10,
.wy-pt-10 {
  padding-top: 20rpx;
}

.wy-p-10,
.wy-px-10,
.wy-pr-10 {
  padding-right: 20rpx;
}

.wy-p-10,
.wy-py-10,
.wy-pb-10 {
  padding-bottom: 20rpx;
}

.wy-p-10,
.wy-px-10,
.wy-pl-10 {
  padding-left: 20rpx;
}

.wy-m-11,
.wy-my-11,
.wy-mt-11 {
  margin-top: 22rpx;
}

.wy-m-11,
.wy-mx-11,
.wy-mr-11 {
  margin-right: 22rpx;
}

.wy-m-11,
.wy-my-11,
.wy-mb-11 {
  margin-bottom: 22rpx;
}

.wy-m-11,
.wy-mx-11,
.wy-ml-11 {
  margin-left: 22rpx;
}

.wy-p-11,
.wy-py-11,
.wy-pt-11 {
  padding-top: 22rpx;
}

.wy-p-11,
.wy-px-11,
.wy-pr-11 {
  padding-right: 22rpx;
}

.wy-p-11,
.wy-py-11,
.wy-pb-11 {
  padding-bottom: 22rpx;
}

.wy-p-11,
.wy-px-11,
.wy-pl-11 {
  padding-left: 22rpx;
}

.wy-m-12,
.wy-my-12,
.wy-mt-12 {
  margin-top: 24rpx;
}

.wy-m-12,
.wy-mx-12,
.wy-mr-12 {
  margin-right: 24rpx;
}

.wy-m-12,
.wy-my-12,
.wy-mb-12 {
  margin-bottom: 24rpx;
}

.wy-m-12,
.wy-mx-12,
.wy-ml-12 {
  margin-left: 24rpx;
}

.wy-p-12,
.wy-py-12,
.wy-pt-12 {
  padding-top: 24rpx;
}

.wy-p-12,
.wy-px-12,
.wy-pr-12 {
  padding-right: 24rpx;
}

.wy-p-12,
.wy-py-12,
.wy-pb-12 {
  padding-bottom: 24rpx;
}

.wy-p-12,
.wy-px-12,
.wy-pl-12 {
  padding-left: 24rpx;
}

.wy-m-13,
.wy-my-13,
.wy-mt-13 {
  margin-top: 26rpx;
}

.wy-m-13,
.wy-mx-13,
.wy-mr-13 {
  margin-right: 26rpx;
}

.wy-m-13,
.wy-my-13,
.wy-mb-13 {
  margin-bottom: 26rpx;
}

.wy-m-13,
.wy-mx-13,
.wy-ml-13 {
  margin-left: 26rpx;
}

.wy-p-13,
.wy-py-13,
.wy-pt-13 {
  padding-top: 26rpx;
}

.wy-p-13,
.wy-px-13,
.wy-pr-13 {
  padding-right: 26rpx;
}

.wy-p-13,
.wy-py-13,
.wy-pb-13 {
  padding-bottom: 26rpx;
}

.wy-p-13,
.wy-px-13,
.wy-pl-13 {
  padding-left: 26rpx;
}

.wy-m-14,
.wy-my-14,
.wy-mt-14 {
  margin-top: 28rpx;
}

.wy-m-14,
.wy-mx-14,
.wy-mr-14 {
  margin-right: 28rpx;
}

.wy-m-14,
.wy-my-14,
.wy-mb-14 {
  margin-bottom: 28rpx;
}

.wy-m-14,
.wy-mx-14,
.wy-ml-14 {
  margin-left: 28rpx;
}

.wy-p-14,
.wy-py-14,
.wy-pt-14 {
  padding-top: 28rpx;
}

.wy-p-14,
.wy-px-14,
.wy-pr-14 {
  padding-right: 28rpx;
}

.wy-p-14,
.wy-py-14,
.wy-pb-14 {
  padding-bottom: 28rpx;
}

.wy-p-14,
.wy-px-14,
.wy-pl-14 {
  padding-left: 28rpx;
}

.wy-m-15,
.wy-my-15,
.wy-mt-15 {
  margin-top: 30rpx;
}

.wy-m-15,
.wy-mx-15,
.wy-mr-15 {
  margin-right: 30rpx;
}

.wy-m-15,
.wy-my-15,
.wy-mb-15 {
  margin-bottom: 30rpx;
}

.wy-m-15,
.wy-mx-15,
.wy-ml-15 {
  margin-left: 30rpx;
}

.wy-p-15,
.wy-py-15,
.wy-pt-15 {
  padding-top: 30rpx;
}

.wy-p-15,
.wy-px-15,
.wy-pr-15 {
  padding-right: 30rpx;
}

.wy-p-15,
.wy-py-15,
.wy-pb-15 {
  padding-bottom: 30rpx;
}

.wy-p-15,
.wy-px-15,
.wy-pl-15 {
  padding-left: 30rpx;
}

.wy-m-16,
.wy-my-16,
.wy-mt-16 {
  margin-top: 32rpx;
}

.wy-m-16,
.wy-mx-16,
.wy-mr-16 {
  margin-right: 32rpx;
}

.wy-m-16,
.wy-my-16,
.wy-mb-16 {
  margin-bottom: 32rpx;
}

.wy-m-16,
.wy-mx-16,
.wy-ml-16 {
  margin-left: 32rpx;
}

.wy-p-16,
.wy-py-16,
.wy-pt-16 {
  padding-top: 32rpx;
}

.wy-p-16,
.wy-px-16,
.wy-pr-16 {
  padding-right: 32rpx;
}

.wy-p-16,
.wy-py-16,
.wy-pb-16 {
  padding-bottom: 32rpx;
}

.wy-p-16,
.wy-px-16,
.wy-pl-16 {
  padding-left: 32rpx;
}

.wy-m-17,
.wy-my-17,
.wy-mt-17 {
  margin-top: 34rpx;
}

.wy-m-17,
.wy-mx-17,
.wy-mr-17 {
  margin-right: 34rpx;
}

.wy-m-17,
.wy-my-17,
.wy-mb-17 {
  margin-bottom: 34rpx;
}

.wy-m-17,
.wy-mx-17,
.wy-ml-17 {
  margin-left: 34rpx;
}

.wy-p-17,
.wy-py-17,
.wy-pt-17 {
  padding-top: 34rpx;
}

.wy-p-17,
.wy-px-17,
.wy-pr-17 {
  padding-right: 34rpx;
}

.wy-p-17,
.wy-py-17,
.wy-pb-17 {
  padding-bottom: 34rpx;
}

.wy-p-17,
.wy-px-17,
.wy-pl-17 {
  padding-left: 34rpx;
}

.wy-m-18,
.wy-my-18,
.wy-mt-18 {
  margin-top: 36rpx;
}

.wy-m-18,
.wy-mx-18,
.wy-mr-18 {
  margin-right: 36rpx;
}

.wy-m-18,
.wy-my-18,
.wy-mb-18 {
  margin-bottom: 36rpx;
}

.wy-m-18,
.wy-mx-18,
.wy-ml-18 {
  margin-left: 36rpx;
}

.wy-p-18,
.wy-py-18,
.wy-pt-18 {
  padding-top: 36rpx;
}

.wy-p-18,
.wy-px-18,
.wy-pr-18 {
  padding-right: 36rpx;
}

.wy-p-18,
.wy-py-18,
.wy-pb-18 {
  padding-bottom: 36rpx;
}

.wy-p-18,
.wy-px-18,
.wy-pl-18 {
  padding-left: 36rpx;
}

.wy-m-19,
.wy-my-19,
.wy-mt-19 {
  margin-top: 38rpx;
}

.wy-m-19,
.wy-mx-19,
.wy-mr-19 {
  margin-right: 38rpx;
}

.wy-m-19,
.wy-my-19,
.wy-mb-19 {
  margin-bottom: 38rpx;
}

.wy-m-19,
.wy-mx-19,
.wy-ml-19 {
  margin-left: 38rpx;
}

.wy-p-19,
.wy-py-19,
.wy-pt-19 {
  padding-top: 38rpx;
}

.wy-p-19,
.wy-px-19,
.wy-pr-19 {
  padding-right: 38rpx;
}

.wy-p-19,
.wy-py-19,
.wy-pb-19 {
  padding-bottom: 38rpx;
}

.wy-p-19,
.wy-px-19,
.wy-pl-19 {
  padding-left: 38rpx;
}

.wy-m-20,
.wy-my-20,
.wy-mt-20 {
  margin-top: 40rpx;
}

.wy-m-20,
.wy-mx-20,
.wy-mr-20 {
  margin-right: 40rpx;
}

.wy-m-20,
.wy-my-20,
.wy-mb-20 {
  margin-bottom: 40rpx;
}

.wy-m-20,
.wy-mx-20,
.wy-ml-20 {
  margin-left: 40rpx;
}

.wy-p-20,
.wy-py-20,
.wy-pt-20 {
  padding-top: 40rpx;
}

.wy-p-20,
.wy-px-20,
.wy-pr-20 {
  padding-right: 40rpx;
}

.wy-p-20,
.wy-py-20,
.wy-pb-20 {
  padding-bottom: 40rpx;
}

.wy-p-20,
.wy-px-20,
.wy-pl-20 {
  padding-left: 40rpx;
}

.wy-m-21,
.wy-my-21,
.wy-mt-21 {
  margin-top: 42rpx;
}

.wy-m-21,
.wy-mx-21,
.wy-mr-21 {
  margin-right: 42rpx;
}

.wy-m-21,
.wy-my-21,
.wy-mb-21 {
  margin-bottom: 42rpx;
}

.wy-m-21,
.wy-mx-21,
.wy-ml-21 {
  margin-left: 42rpx;
}

.wy-p-21,
.wy-py-21,
.wy-pt-21 {
  padding-top: 42rpx;
}

.wy-p-21,
.wy-px-21,
.wy-pr-21 {
  padding-right: 42rpx;
}

.wy-p-21,
.wy-py-21,
.wy-pb-21 {
  padding-bottom: 42rpx;
}

.wy-p-21,
.wy-px-21,
.wy-pl-21 {
  padding-left: 42rpx;
}

.wy-m-22,
.wy-my-22,
.wy-mt-22 {
  margin-top: 44rpx;
}

.wy-m-22,
.wy-mx-22,
.wy-mr-22 {
  margin-right: 44rpx;
}

.wy-m-22,
.wy-my-22,
.wy-mb-22 {
  margin-bottom: 44rpx;
}

.wy-m-22,
.wy-mx-22,
.wy-ml-22 {
  margin-left: 44rpx;
}

.wy-p-22,
.wy-py-22,
.wy-pt-22 {
  padding-top: 44rpx;
}

.wy-p-22,
.wy-px-22,
.wy-pr-22 {
  padding-right: 44rpx;
}

.wy-p-22,
.wy-py-22,
.wy-pb-22 {
  padding-bottom: 44rpx;
}

.wy-p-22,
.wy-px-22,
.wy-pl-22 {
  padding-left: 44rpx;
}

.wy-m-23,
.wy-my-23,
.wy-mt-23 {
  margin-top: 46rpx;
}

.wy-m-23,
.wy-mx-23,
.wy-mr-23 {
  margin-right: 46rpx;
}

.wy-m-23,
.wy-my-23,
.wy-mb-23 {
  margin-bottom: 46rpx;
}

.wy-m-23,
.wy-mx-23,
.wy-ml-23 {
  margin-left: 46rpx;
}

.wy-p-23,
.wy-py-23,
.wy-pt-23 {
  padding-top: 46rpx;
}

.wy-p-23,
.wy-px-23,
.wy-pr-23 {
  padding-right: 46rpx;
}

.wy-p-23,
.wy-py-23,
.wy-pb-23 {
  padding-bottom: 46rpx;
}

.wy-p-23,
.wy-px-23,
.wy-pl-23 {
  padding-left: 46rpx;
}

.wy-m-24,
.wy-my-24,
.wy-mt-24 {
  margin-top: 48rpx;
}

.wy-m-24,
.wy-mx-24,
.wy-mr-24 {
  margin-right: 48rpx;
}

.wy-m-24,
.wy-my-24,
.wy-mb-24 {
  margin-bottom: 48rpx;
}

.wy-m-24,
.wy-mx-24,
.wy-ml-24 {
  margin-left: 48rpx;
}

.wy-p-24,
.wy-py-24,
.wy-pt-24 {
  padding-top: 48rpx;
}

.wy-p-24,
.wy-px-24,
.wy-pr-24 {
  padding-right: 48rpx;
}

.wy-p-24,
.wy-py-24,
.wy-pb-24 {
  padding-bottom: 48rpx;
}

.wy-p-24,
.wy-px-24,
.wy-pl-24 {
  padding-left: 48rpx;
}

.wy-m-25,
.wy-my-25,
.wy-mt-25 {
  margin-top: 50rpx;
}

.wy-m-25,
.wy-mx-25,
.wy-mr-25 {
  margin-right: 50rpx;
}

.wy-m-25,
.wy-my-25,
.wy-mb-25 {
  margin-bottom: 50rpx;
}

.wy-m-25,
.wy-mx-25,
.wy-ml-25 {
  margin-left: 50rpx;
}

.wy-p-25,
.wy-py-25,
.wy-pt-25 {
  padding-top: 50rpx;
}

.wy-p-25,
.wy-px-25,
.wy-pr-25 {
  padding-right: 50rpx;
}

.wy-p-25,
.wy-py-25,
.wy-pb-25 {
  padding-bottom: 50rpx;
}

.wy-p-25,
.wy-px-25,
.wy-pl-25 {
  padding-left: 50rpx;
}

.wy-m-26,
.wy-my-26,
.wy-mt-26 {
  margin-top: 52rpx;
}

.wy-m-26,
.wy-mx-26,
.wy-mr-26 {
  margin-right: 52rpx;
}

.wy-m-26,
.wy-my-26,
.wy-mb-26 {
  margin-bottom: 52rpx;
}

.wy-m-26,
.wy-mx-26,
.wy-ml-26 {
  margin-left: 52rpx;
}

.wy-p-26,
.wy-py-26,
.wy-pt-26 {
  padding-top: 52rpx;
}

.wy-p-26,
.wy-px-26,
.wy-pr-26 {
  padding-right: 52rpx;
}

.wy-p-26,
.wy-py-26,
.wy-pb-26 {
  padding-bottom: 52rpx;
}

.wy-p-26,
.wy-px-26,
.wy-pl-26 {
  padding-left: 52rpx;
}

.wy-m-27,
.wy-my-27,
.wy-mt-27 {
  margin-top: 54rpx;
}

.wy-m-27,
.wy-mx-27,
.wy-mr-27 {
  margin-right: 54rpx;
}

.wy-m-27,
.wy-my-27,
.wy-mb-27 {
  margin-bottom: 54rpx;
}

.wy-m-27,
.wy-mx-27,
.wy-ml-27 {
  margin-left: 54rpx;
}

.wy-p-27,
.wy-py-27,
.wy-pt-27 {
  padding-top: 54rpx;
}

.wy-p-27,
.wy-px-27,
.wy-pr-27 {
  padding-right: 54rpx;
}

.wy-p-27,
.wy-py-27,
.wy-pb-27 {
  padding-bottom: 54rpx;
}

.wy-p-27,
.wy-px-27,
.wy-pl-27 {
  padding-left: 54rpx;
}

.wy-m-28,
.wy-my-28,
.wy-mt-28 {
  margin-top: 56rpx;
}

.wy-m-28,
.wy-mx-28,
.wy-mr-28 {
  margin-right: 56rpx;
}

.wy-m-28,
.wy-my-28,
.wy-mb-28 {
  margin-bottom: 56rpx;
}

.wy-m-28,
.wy-mx-28,
.wy-ml-28 {
  margin-left: 56rpx;
}

.wy-p-28,
.wy-py-28,
.wy-pt-28 {
  padding-top: 56rpx;
}

.wy-p-28,
.wy-px-28,
.wy-pr-28 {
  padding-right: 56rpx;
}

.wy-p-28,
.wy-py-28,
.wy-pb-28 {
  padding-bottom: 56rpx;
}

.wy-p-28,
.wy-px-28,
.wy-pl-28 {
  padding-left: 56rpx;
}

.wy-m-29,
.wy-my-29,
.wy-mt-29 {
  margin-top: 58rpx;
}

.wy-m-29,
.wy-mx-29,
.wy-mr-29 {
  margin-right: 58rpx;
}

.wy-m-29,
.wy-my-29,
.wy-mb-29 {
  margin-bottom: 58rpx;
}

.wy-m-29,
.wy-mx-29,
.wy-ml-29 {
  margin-left: 58rpx;
}

.wy-p-29,
.wy-py-29,
.wy-pt-29 {
  padding-top: 58rpx;
}

.wy-p-29,
.wy-px-29,
.wy-pr-29 {
  padding-right: 58rpx;
}

.wy-p-29,
.wy-py-29,
.wy-pb-29 {
  padding-bottom: 58rpx;
}

.wy-p-29,
.wy-px-29,
.wy-pl-29 {
  padding-left: 58rpx;
}

.wy-m-30,
.wy-my-30,
.wy-mt-30 {
  margin-top: 60rpx;
}

.wy-m-30,
.wy-mx-30,
.wy-mr-30 {
  margin-right: 60rpx;
}

.wy-m-30,
.wy-my-30,
.wy-mb-30 {
  margin-bottom: 60rpx;
}

.wy-m-30,
.wy-mx-30,
.wy-ml-30 {
  margin-left: 60rpx;
}

.wy-p-30,
.wy-py-30,
.wy-pt-30 {
  padding-top: 60rpx;
}

.wy-p-30,
.wy-px-30,
.wy-pr-30 {
  padding-right: 60rpx;
}

.wy-p-30,
.wy-py-30,
.wy-pb-30 {
  padding-bottom: 60rpx;
}

.wy-p-30,
.wy-px-30,
.wy-pl-30 {
  padding-left: 60rpx;
}

.wy-m-31,
.wy-my-31,
.wy-mt-31 {
  margin-top: 62rpx;
}

.wy-m-31,
.wy-mx-31,
.wy-mr-31 {
  margin-right: 62rpx;
}

.wy-m-31,
.wy-my-31,
.wy-mb-31 {
  margin-bottom: 62rpx;
}

.wy-m-31,
.wy-mx-31,
.wy-ml-31 {
  margin-left: 62rpx;
}

.wy-p-31,
.wy-py-31,
.wy-pt-31 {
  padding-top: 62rpx;
}

.wy-p-31,
.wy-px-31,
.wy-pr-31 {
  padding-right: 62rpx;
}

.wy-p-31,
.wy-py-31,
.wy-pb-31 {
  padding-bottom: 62rpx;
}

.wy-p-31,
.wy-px-31,
.wy-pl-31 {
  padding-left: 62rpx;
}

.wy-m-32,
.wy-my-32,
.wy-mt-32 {
  margin-top: 64rpx;
}

.wy-m-32,
.wy-mx-32,
.wy-mr-32 {
  margin-right: 64rpx;
}

.wy-m-32,
.wy-my-32,
.wy-mb-32 {
  margin-bottom: 64rpx;
}

.wy-m-32,
.wy-mx-32,
.wy-ml-32 {
  margin-left: 64rpx;
}

.wy-p-32,
.wy-py-32,
.wy-pt-32 {
  padding-top: 64rpx;
}

.wy-p-32,
.wy-px-32,
.wy-pr-32 {
  padding-right: 64rpx;
}

.wy-p-32,
.wy-py-32,
.wy-pb-32 {
  padding-bottom: 64rpx;
}

.wy-p-32,
.wy-px-32,
.wy-pl-32 {
  padding-left: 64rpx;
}

.wy-m-33,
.wy-my-33,
.wy-mt-33 {
  margin-top: 66rpx;
}

.wy-m-33,
.wy-mx-33,
.wy-mr-33 {
  margin-right: 66rpx;
}

.wy-m-33,
.wy-my-33,
.wy-mb-33 {
  margin-bottom: 66rpx;
}

.wy-m-33,
.wy-mx-33,
.wy-ml-33 {
  margin-left: 66rpx;
}

.wy-p-33,
.wy-py-33,
.wy-pt-33 {
  padding-top: 66rpx;
}

.wy-p-33,
.wy-px-33,
.wy-pr-33 {
  padding-right: 66rpx;
}

.wy-p-33,
.wy-py-33,
.wy-pb-33 {
  padding-bottom: 66rpx;
}

.wy-p-33,
.wy-px-33,
.wy-pl-33 {
  padding-left: 66rpx;
}

.wy-m-34,
.wy-my-34,
.wy-mt-34 {
  margin-top: 68rpx;
}

.wy-m-34,
.wy-mx-34,
.wy-mr-34 {
  margin-right: 68rpx;
}

.wy-m-34,
.wy-my-34,
.wy-mb-34 {
  margin-bottom: 68rpx;
}

.wy-m-34,
.wy-mx-34,
.wy-ml-34 {
  margin-left: 68rpx;
}

.wy-p-34,
.wy-py-34,
.wy-pt-34 {
  padding-top: 68rpx;
}

.wy-p-34,
.wy-px-34,
.wy-pr-34 {
  padding-right: 68rpx;
}

.wy-p-34,
.wy-py-34,
.wy-pb-34 {
  padding-bottom: 68rpx;
}

.wy-p-34,
.wy-px-34,
.wy-pl-34 {
  padding-left: 68rpx;
}

.wy-m-35,
.wy-my-35,
.wy-mt-35 {
  margin-top: 70rpx;
}

.wy-m-35,
.wy-mx-35,
.wy-mr-35 {
  margin-right: 70rpx;
}

.wy-m-35,
.wy-my-35,
.wy-mb-35 {
  margin-bottom: 70rpx;
}

.wy-m-35,
.wy-mx-35,
.wy-ml-35 {
  margin-left: 70rpx;
}

.wy-p-35,
.wy-py-35,
.wy-pt-35 {
  padding-top: 70rpx;
}

.wy-p-35,
.wy-px-35,
.wy-pr-35 {
  padding-right: 70rpx;
}

.wy-p-35,
.wy-py-35,
.wy-pb-35 {
  padding-bottom: 70rpx;
}

.wy-p-35,
.wy-px-35,
.wy-pl-35 {
  padding-left: 70rpx;
}

.wy-m-36,
.wy-my-36,
.wy-mt-36 {
  margin-top: 72rpx;
}

.wy-m-36,
.wy-mx-36,
.wy-mr-36 {
  margin-right: 72rpx;
}

.wy-m-36,
.wy-my-36,
.wy-mb-36 {
  margin-bottom: 72rpx;
}

.wy-m-36,
.wy-mx-36,
.wy-ml-36 {
  margin-left: 72rpx;
}

.wy-p-36,
.wy-py-36,
.wy-pt-36 {
  padding-top: 72rpx;
}

.wy-p-36,
.wy-px-36,
.wy-pr-36 {
  padding-right: 72rpx;
}

.wy-p-36,
.wy-py-36,
.wy-pb-36 {
  padding-bottom: 72rpx;
}

.wy-p-36,
.wy-px-36,
.wy-pl-36 {
  padding-left: 72rpx;
}

.wy-m-37,
.wy-my-37,
.wy-mt-37 {
  margin-top: 74rpx;
}

.wy-m-37,
.wy-mx-37,
.wy-mr-37 {
  margin-right: 74rpx;
}

.wy-m-37,
.wy-my-37,
.wy-mb-37 {
  margin-bottom: 74rpx;
}

.wy-m-37,
.wy-mx-37,
.wy-ml-37 {
  margin-left: 74rpx;
}

.wy-p-37,
.wy-py-37,
.wy-pt-37 {
  padding-top: 74rpx;
}

.wy-p-37,
.wy-px-37,
.wy-pr-37 {
  padding-right: 74rpx;
}

.wy-p-37,
.wy-py-37,
.wy-pb-37 {
  padding-bottom: 74rpx;
}

.wy-p-37,
.wy-px-37,
.wy-pl-37 {
  padding-left: 74rpx;
}

.wy-m-38,
.wy-my-38,
.wy-mt-38 {
  margin-top: 76rpx;
}

.wy-m-38,
.wy-mx-38,
.wy-mr-38 {
  margin-right: 76rpx;
}

.wy-m-38,
.wy-my-38,
.wy-mb-38 {
  margin-bottom: 76rpx;
}

.wy-m-38,
.wy-mx-38,
.wy-ml-38 {
  margin-left: 76rpx;
}

.wy-p-38,
.wy-py-38,
.wy-pt-38 {
  padding-top: 76rpx;
}

.wy-p-38,
.wy-px-38,
.wy-pr-38 {
  padding-right: 76rpx;
}

.wy-p-38,
.wy-py-38,
.wy-pb-38 {
  padding-bottom: 76rpx;
}

.wy-p-38,
.wy-px-38,
.wy-pl-38 {
  padding-left: 76rpx;
}

.wy-m-39,
.wy-my-39,
.wy-mt-39 {
  margin-top: 78rpx;
}

.wy-m-39,
.wy-mx-39,
.wy-mr-39 {
  margin-right: 78rpx;
}

.wy-m-39,
.wy-my-39,
.wy-mb-39 {
  margin-bottom: 78rpx;
}

.wy-m-39,
.wy-mx-39,
.wy-ml-39 {
  margin-left: 78rpx;
}

.wy-p-39,
.wy-py-39,
.wy-pt-39 {
  padding-top: 78rpx;
}

.wy-p-39,
.wy-px-39,
.wy-pr-39 {
  padding-right: 78rpx;
}

.wy-p-39,
.wy-py-39,
.wy-pb-39 {
  padding-bottom: 78rpx;
}

.wy-p-39,
.wy-px-39,
.wy-pl-39 {
  padding-left: 78rpx;
}

.wy-m-40,
.wy-my-40,
.wy-mt-40 {
  margin-top: 80rpx;
}

.wy-m-40,
.wy-mx-40,
.wy-mr-40 {
  margin-right: 80rpx;
}

.wy-m-40,
.wy-my-40,
.wy-mb-40 {
  margin-bottom: 80rpx;
}

.wy-m-40,
.wy-mx-40,
.wy-ml-40 {
  margin-left: 80rpx;
}

.wy-p-40,
.wy-py-40,
.wy-pt-40 {
  padding-top: 80rpx;
}

.wy-p-40,
.wy-px-40,
.wy-pr-40 {
  padding-right: 80rpx;
}

.wy-p-40,
.wy-py-40,
.wy-pb-40 {
  padding-bottom: 80rpx;
}

.wy-p-40,
.wy-px-40,
.wy-pl-40 {
  padding-left: 80rpx;
}

.wy-m-41,
.wy-my-41,
.wy-mt-41 {
  margin-top: 82rpx;
}

.wy-m-41,
.wy-mx-41,
.wy-mr-41 {
  margin-right: 82rpx;
}

.wy-m-41,
.wy-my-41,
.wy-mb-41 {
  margin-bottom: 82rpx;
}

.wy-m-41,
.wy-mx-41,
.wy-ml-41 {
  margin-left: 82rpx;
}

.wy-p-41,
.wy-py-41,
.wy-pt-41 {
  padding-top: 82rpx;
}

.wy-p-41,
.wy-px-41,
.wy-pr-41 {
  padding-right: 82rpx;
}

.wy-p-41,
.wy-py-41,
.wy-pb-41 {
  padding-bottom: 82rpx;
}

.wy-p-41,
.wy-px-41,
.wy-pl-41 {
  padding-left: 82rpx;
}

.wy-m-42,
.wy-my-42,
.wy-mt-42 {
  margin-top: 84rpx;
}

.wy-m-42,
.wy-mx-42,
.wy-mr-42 {
  margin-right: 84rpx;
}

.wy-m-42,
.wy-my-42,
.wy-mb-42 {
  margin-bottom: 84rpx;
}

.wy-m-42,
.wy-mx-42,
.wy-ml-42 {
  margin-left: 84rpx;
}

.wy-p-42,
.wy-py-42,
.wy-pt-42 {
  padding-top: 84rpx;
}

.wy-p-42,
.wy-px-42,
.wy-pr-42 {
  padding-right: 84rpx;
}

.wy-p-42,
.wy-py-42,
.wy-pb-42 {
  padding-bottom: 84rpx;
}

.wy-p-42,
.wy-px-42,
.wy-pl-42 {
  padding-left: 84rpx;
}

.wy-m-43,
.wy-my-43,
.wy-mt-43 {
  margin-top: 86rpx;
}

.wy-m-43,
.wy-mx-43,
.wy-mr-43 {
  margin-right: 86rpx;
}

.wy-m-43,
.wy-my-43,
.wy-mb-43 {
  margin-bottom: 86rpx;
}

.wy-m-43,
.wy-mx-43,
.wy-ml-43 {
  margin-left: 86rpx;
}

.wy-p-43,
.wy-py-43,
.wy-pt-43 {
  padding-top: 86rpx;
}

.wy-p-43,
.wy-px-43,
.wy-pr-43 {
  padding-right: 86rpx;
}

.wy-p-43,
.wy-py-43,
.wy-pb-43 {
  padding-bottom: 86rpx;
}

.wy-p-43,
.wy-px-43,
.wy-pl-43 {
  padding-left: 86rpx;
}

.wy-m-44,
.wy-my-44,
.wy-mt-44 {
  margin-top: 88rpx;
}

.wy-m-44,
.wy-mx-44,
.wy-mr-44 {
  margin-right: 88rpx;
}

.wy-m-44,
.wy-my-44,
.wy-mb-44 {
  margin-bottom: 88rpx;
}

.wy-m-44,
.wy-mx-44,
.wy-ml-44 {
  margin-left: 88rpx;
}

.wy-p-44,
.wy-py-44,
.wy-pt-44 {
  padding-top: 88rpx;
}

.wy-p-44,
.wy-px-44,
.wy-pr-44 {
  padding-right: 88rpx;
}

.wy-p-44,
.wy-py-44,
.wy-pb-44 {
  padding-bottom: 88rpx;
}

.wy-p-44,
.wy-px-44,
.wy-pl-44 {
  padding-left: 88rpx;
}

.wy-m-45,
.wy-my-45,
.wy-mt-45 {
  margin-top: 90rpx;
}

.wy-m-45,
.wy-mx-45,
.wy-mr-45 {
  margin-right: 90rpx;
}

.wy-m-45,
.wy-my-45,
.wy-mb-45 {
  margin-bottom: 90rpx;
}

.wy-m-45,
.wy-mx-45,
.wy-ml-45 {
  margin-left: 90rpx;
}

.wy-p-45,
.wy-py-45,
.wy-pt-45 {
  padding-top: 90rpx;
}

.wy-p-45,
.wy-px-45,
.wy-pr-45 {
  padding-right: 90rpx;
}

.wy-p-45,
.wy-py-45,
.wy-pb-45 {
  padding-bottom: 90rpx;
}

.wy-p-45,
.wy-px-45,
.wy-pl-45 {
  padding-left: 90rpx;
}

.wy-m-46,
.wy-my-46,
.wy-mt-46 {
  margin-top: 92rpx;
}

.wy-m-46,
.wy-mx-46,
.wy-mr-46 {
  margin-right: 92rpx;
}

.wy-m-46,
.wy-my-46,
.wy-mb-46 {
  margin-bottom: 92rpx;
}

.wy-m-46,
.wy-mx-46,
.wy-ml-46 {
  margin-left: 92rpx;
}

.wy-p-46,
.wy-py-46,
.wy-pt-46 {
  padding-top: 92rpx;
}

.wy-p-46,
.wy-px-46,
.wy-pr-46 {
  padding-right: 92rpx;
}

.wy-p-46,
.wy-py-46,
.wy-pb-46 {
  padding-bottom: 92rpx;
}

.wy-p-46,
.wy-px-46,
.wy-pl-46 {
  padding-left: 92rpx;
}

.wy-m-47,
.wy-my-47,
.wy-mt-47 {
  margin-top: 94rpx;
}

.wy-m-47,
.wy-mx-47,
.wy-mr-47 {
  margin-right: 94rpx;
}

.wy-m-47,
.wy-my-47,
.wy-mb-47 {
  margin-bottom: 94rpx;
}

.wy-m-47,
.wy-mx-47,
.wy-ml-47 {
  margin-left: 94rpx;
}

.wy-p-47,
.wy-py-47,
.wy-pt-47 {
  padding-top: 94rpx;
}

.wy-p-47,
.wy-px-47,
.wy-pr-47 {
  padding-right: 94rpx;
}

.wy-p-47,
.wy-py-47,
.wy-pb-47 {
  padding-bottom: 94rpx;
}

.wy-p-47,
.wy-px-47,
.wy-pl-47 {
  padding-left: 94rpx;
}

.wy-m-48,
.wy-my-48,
.wy-mt-48 {
  margin-top: 96rpx;
}

.wy-m-48,
.wy-mx-48,
.wy-mr-48 {
  margin-right: 96rpx;
}

.wy-m-48,
.wy-my-48,
.wy-mb-48 {
  margin-bottom: 96rpx;
}

.wy-m-48,
.wy-mx-48,
.wy-ml-48 {
  margin-left: 96rpx;
}

.wy-p-48,
.wy-py-48,
.wy-pt-48 {
  padding-top: 96rpx;
}

.wy-p-48,
.wy-px-48,
.wy-pr-48 {
  padding-right: 96rpx;
}

.wy-p-48,
.wy-py-48,
.wy-pb-48 {
  padding-bottom: 96rpx;
}

.wy-p-48,
.wy-px-48,
.wy-pl-48 {
  padding-left: 96rpx;
}

.wy-m-49,
.wy-my-49,
.wy-mt-49 {
  margin-top: 98rpx;
}

.wy-m-49,
.wy-mx-49,
.wy-mr-49 {
  margin-right: 98rpx;
}

.wy-m-49,
.wy-my-49,
.wy-mb-49 {
  margin-bottom: 98rpx;
}

.wy-m-49,
.wy-mx-49,
.wy-ml-49 {
  margin-left: 98rpx;
}

.wy-p-49,
.wy-py-49,
.wy-pt-49 {
  padding-top: 98rpx;
}

.wy-p-49,
.wy-px-49,
.wy-pr-49 {
  padding-right: 98rpx;
}

.wy-p-49,
.wy-py-49,
.wy-pb-49 {
  padding-bottom: 98rpx;
}

.wy-p-49,
.wy-px-49,
.wy-pl-49 {
  padding-left: 98rpx;
}

.wy-m-50,
.wy-my-50,
.wy-mt-50 {
  margin-top: 100rpx;
}

.wy-m-50,
.wy-mx-50,
.wy-mr-50 {
  margin-right: 100rpx;
}

.wy-m-50,
.wy-my-50,
.wy-mb-50 {
  margin-bottom: 100rpx;
}

.wy-m-50,
.wy-mx-50,
.wy-ml-50 {
  margin-left: 100rpx;
}

.wy-p-50,
.wy-py-50,
.wy-pt-50 {
  padding-top: 100rpx;
}

.wy-p-50,
.wy-px-50,
.wy-pr-50 {
  padding-right: 100rpx;
}

.wy-p-50,
.wy-py-50,
.wy-pb-50 {
  padding-bottom: 100rpx;
}

.wy-p-50,
.wy-px-50,
.wy-pl-50 {
  padding-left: 100rpx;
}

.wy-m-51,
.wy-my-51,
.wy-mt-51 {
  margin-top: 102rpx;
}

.wy-m-51,
.wy-mx-51,
.wy-mr-51 {
  margin-right: 102rpx;
}

.wy-m-51,
.wy-my-51,
.wy-mb-51 {
  margin-bottom: 102rpx;
}

.wy-m-51,
.wy-mx-51,
.wy-ml-51 {
  margin-left: 102rpx;
}

.wy-p-51,
.wy-py-51,
.wy-pt-51 {
  padding-top: 102rpx;
}

.wy-p-51,
.wy-px-51,
.wy-pr-51 {
  padding-right: 102rpx;
}

.wy-p-51,
.wy-py-51,
.wy-pb-51 {
  padding-bottom: 102rpx;
}

.wy-p-51,
.wy-px-51,
.wy-pl-51 {
  padding-left: 102rpx;
}

.wy-m-52,
.wy-my-52,
.wy-mt-52 {
  margin-top: 104rpx;
}

.wy-m-52,
.wy-mx-52,
.wy-mr-52 {
  margin-right: 104rpx;
}

.wy-m-52,
.wy-my-52,
.wy-mb-52 {
  margin-bottom: 104rpx;
}

.wy-m-52,
.wy-mx-52,
.wy-ml-52 {
  margin-left: 104rpx;
}

.wy-p-52,
.wy-py-52,
.wy-pt-52 {
  padding-top: 104rpx;
}

.wy-p-52,
.wy-px-52,
.wy-pr-52 {
  padding-right: 104rpx;
}

.wy-p-52,
.wy-py-52,
.wy-pb-52 {
  padding-bottom: 104rpx;
}

.wy-p-52,
.wy-px-52,
.wy-pl-52 {
  padding-left: 104rpx;
}

.wy-m-53,
.wy-my-53,
.wy-mt-53 {
  margin-top: 106rpx;
}

.wy-m-53,
.wy-mx-53,
.wy-mr-53 {
  margin-right: 106rpx;
}

.wy-m-53,
.wy-my-53,
.wy-mb-53 {
  margin-bottom: 106rpx;
}

.wy-m-53,
.wy-mx-53,
.wy-ml-53 {
  margin-left: 106rpx;
}

.wy-p-53,
.wy-py-53,
.wy-pt-53 {
  padding-top: 106rpx;
}

.wy-p-53,
.wy-px-53,
.wy-pr-53 {
  padding-right: 106rpx;
}

.wy-p-53,
.wy-py-53,
.wy-pb-53 {
  padding-bottom: 106rpx;
}

.wy-p-53,
.wy-px-53,
.wy-pl-53 {
  padding-left: 106rpx;
}

.wy-m-54,
.wy-my-54,
.wy-mt-54 {
  margin-top: 108rpx;
}

.wy-m-54,
.wy-mx-54,
.wy-mr-54 {
  margin-right: 108rpx;
}

.wy-m-54,
.wy-my-54,
.wy-mb-54 {
  margin-bottom: 108rpx;
}

.wy-m-54,
.wy-mx-54,
.wy-ml-54 {
  margin-left: 108rpx;
}

.wy-p-54,
.wy-py-54,
.wy-pt-54 {
  padding-top: 108rpx;
}

.wy-p-54,
.wy-px-54,
.wy-pr-54 {
  padding-right: 108rpx;
}

.wy-p-54,
.wy-py-54,
.wy-pb-54 {
  padding-bottom: 108rpx;
}

.wy-p-54,
.wy-px-54,
.wy-pl-54 {
  padding-left: 108rpx;
}

.wy-m-55,
.wy-my-55,
.wy-mt-55 {
  margin-top: 110rpx;
}

.wy-m-55,
.wy-mx-55,
.wy-mr-55 {
  margin-right: 110rpx;
}

.wy-m-55,
.wy-my-55,
.wy-mb-55 {
  margin-bottom: 110rpx;
}

.wy-m-55,
.wy-mx-55,
.wy-ml-55 {
  margin-left: 110rpx;
}

.wy-p-55,
.wy-py-55,
.wy-pt-55 {
  padding-top: 110rpx;
}

.wy-p-55,
.wy-px-55,
.wy-pr-55 {
  padding-right: 110rpx;
}

.wy-p-55,
.wy-py-55,
.wy-pb-55 {
  padding-bottom: 110rpx;
}

.wy-p-55,
.wy-px-55,
.wy-pl-55 {
  padding-left: 110rpx;
}

.wy-m-56,
.wy-my-56,
.wy-mt-56 {
  margin-top: 112rpx;
}

.wy-m-56,
.wy-mx-56,
.wy-mr-56 {
  margin-right: 112rpx;
}

.wy-m-56,
.wy-my-56,
.wy-mb-56 {
  margin-bottom: 112rpx;
}

.wy-m-56,
.wy-mx-56,
.wy-ml-56 {
  margin-left: 112rpx;
}

.wy-p-56,
.wy-py-56,
.wy-pt-56 {
  padding-top: 112rpx;
}

.wy-p-56,
.wy-px-56,
.wy-pr-56 {
  padding-right: 112rpx;
}

.wy-p-56,
.wy-py-56,
.wy-pb-56 {
  padding-bottom: 112rpx;
}

.wy-p-56,
.wy-px-56,
.wy-pl-56 {
  padding-left: 112rpx;
}

.wy-m-57,
.wy-my-57,
.wy-mt-57 {
  margin-top: 114rpx;
}

.wy-m-57,
.wy-mx-57,
.wy-mr-57 {
  margin-right: 114rpx;
}

.wy-m-57,
.wy-my-57,
.wy-mb-57 {
  margin-bottom: 114rpx;
}

.wy-m-57,
.wy-mx-57,
.wy-ml-57 {
  margin-left: 114rpx;
}

.wy-p-57,
.wy-py-57,
.wy-pt-57 {
  padding-top: 114rpx;
}

.wy-p-57,
.wy-px-57,
.wy-pr-57 {
  padding-right: 114rpx;
}

.wy-p-57,
.wy-py-57,
.wy-pb-57 {
  padding-bottom: 114rpx;
}

.wy-p-57,
.wy-px-57,
.wy-pl-57 {
  padding-left: 114rpx;
}

.wy-m-58,
.wy-my-58,
.wy-mt-58 {
  margin-top: 116rpx;
}

.wy-m-58,
.wy-mx-58,
.wy-mr-58 {
  margin-right: 116rpx;
}

.wy-m-58,
.wy-my-58,
.wy-mb-58 {
  margin-bottom: 116rpx;
}

.wy-m-58,
.wy-mx-58,
.wy-ml-58 {
  margin-left: 116rpx;
}

.wy-p-58,
.wy-py-58,
.wy-pt-58 {
  padding-top: 116rpx;
}

.wy-p-58,
.wy-px-58,
.wy-pr-58 {
  padding-right: 116rpx;
}

.wy-p-58,
.wy-py-58,
.wy-pb-58 {
  padding-bottom: 116rpx;
}

.wy-p-58,
.wy-px-58,
.wy-pl-58 {
  padding-left: 116rpx;
}

.wy-m-59,
.wy-my-59,
.wy-mt-59 {
  margin-top: 118rpx;
}

.wy-m-59,
.wy-mx-59,
.wy-mr-59 {
  margin-right: 118rpx;
}

.wy-m-59,
.wy-my-59,
.wy-mb-59 {
  margin-bottom: 118rpx;
}

.wy-m-59,
.wy-mx-59,
.wy-ml-59 {
  margin-left: 118rpx;
}

.wy-p-59,
.wy-py-59,
.wy-pt-59 {
  padding-top: 118rpx;
}

.wy-p-59,
.wy-px-59,
.wy-pr-59 {
  padding-right: 118rpx;
}

.wy-p-59,
.wy-py-59,
.wy-pb-59 {
  padding-bottom: 118rpx;
}

.wy-p-59,
.wy-px-59,
.wy-pl-59 {
  padding-left: 118rpx;
}

.wy-m-60,
.wy-my-60,
.wy-mt-60 {
  margin-top: 120rpx;
}

.wy-m-60,
.wy-mx-60,
.wy-mr-60 {
  margin-right: 120rpx;
}

.wy-m-60,
.wy-my-60,
.wy-mb-60 {
  margin-bottom: 120rpx;
}

.wy-m-60,
.wy-mx-60,
.wy-ml-60 {
  margin-left: 120rpx;
}

.wy-p-60,
.wy-py-60,
.wy-pt-60 {
  padding-top: 120rpx;
}

.wy-p-60,
.wy-px-60,
.wy-pr-60 {
  padding-right: 120rpx;
}

.wy-p-60,
.wy-py-60,
.wy-pb-60 {
  padding-bottom: 120rpx;
}

.wy-p-60,
.wy-px-60,
.wy-pl-60 {
  padding-left: 120rpx;
}